/* WebSite Name: PV Application Form
   Made by: Ritesh Gorle
   Created: May 2023
   Content: Form
*/



/******************************/
/*        CSS Style           */
/******************************/   

body {
  background: white;
  font-family: sans-serif;
  font-size: 1.25em;
  line-height: 1.55;
  padding: 1.618em 5%;
  max-width: 900px;
  margin: 0 auto;
}




hr {
  border: 10px;
  height: 0.2em;
  background: red;
  margin: 2em;
}


form {
  margin: 2em 0;
}

fieldset {
  margin: 0 0 2em;
}

legend {
  font-weight: bold;
  padding: 0 .5em;
}

label {
  display: block;
  font-weight: 900;
  margin: 1em 0 0;
  cursor: pointer;
  color: #595959;
}


button {
  color: darkblue;
  border: 2px solid darkblue;
  padding: .309em .618em;
}

form:valid button {
  color: green;
  border-color: green;
}

form:invalid button {
  color: red;
  border-color: red;
}